#conhecimentos {
  padding-bottom: 256px;
  overflow: hidden;
}

.titulo-conhecimentos {
  color: #ffffff;
  font-size: 7rem;
  font-weight: 400;
  text-transform: uppercase;
}

.texto-conhecimentos {
  color: #aaaaaa;
  font-size: 3rem;
  margin-bottom: 128px;
}

.estudado {
  margin-bottom: 128px;
}

.titulo2 {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 32px;
}

.techs {
  display: flex;
  gap: 128px;
  flex-wrap: wrap;
}

:root {
  --html: #505050;
  --css: #505050;
  --js: #505050;
  --git: #505050;
  --github: #505050;
  --react: #505050;
  --vue: #505050;
}

.tech {
  width: 7vw;
  height: max-content;
}

.tech:hover {
  --html: #e54c21;
  --css: #1572b6;
  --js: #efd81d;
  --git: #e84d31;
  --github: #ffffff;
  --react: #5ed3f3;
  --vue: #3fb27f;
}

.animaTech1 li::before,
.animaTech2 li::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 15px;
  border-radius: 50%;
  bottom: -10%;
  transform: perspective(1em) rotateX(45deg);
  filter: blur(6px);
  opacity: 0;
}

.techs li:hover::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 15px;
  border-radius: 50%;
  bottom: -10%;
  transform: perspective(1em) rotateX(45deg);
  filter: blur(6px);
  opacity: 1;
}

.scroll-ativo .animaTech1 li:nth-child(1):hover::before,
.scroll-ativo .animaTech1 li:nth-child(2):hover::before,
.scroll-ativo .animaTech1 li:nth-child(3):hover::before,
.scroll-ativo .animaTech1 li:nth-child(4):hover::before,
.scroll-ativo .animaTech1 li:nth-child(5):hover::before,
.scroll-ativo .animaTech2 li:nth-child(1):hover::before,
.scroll-ativo .animaTech2 li:nth-child(2):hover::before {
  --html: #e54c21;
  --css: #1572b6;
  --js: #efd81d;
  --git: #e84d31;
  --github: #ffffff;
  --react: #5ed3f3;
  --vue: #3fb27f;
}

.scroll-ativo .animaTech1 li:nth-child(1)::before {
  animation: animaTech3 1s;
  animation-delay: 2s;
  background-color: var(--html);
}
.scroll-ativo .animaTech1 li:nth-child(2)::before {
  animation: animaTech3 1s;
  animation-delay: 2.2s;
  background-color: var(--css);
}
.scroll-ativo .animaTech1 li:nth-child(3)::before {
  animation: animaTech3 1s;
  animation-delay: 2.4s;
  background-color: var(--js);
}
.scroll-ativo .animaTech1 li:nth-child(4)::before {
  animation: animaTech3 1s;
  animation-delay: 2.6s;
  background-color: var(--git);
}
.scroll-ativo .animaTech1 li:nth-child(5)::before {
  animation: animaTech3 1s;
  animation-delay: 2.8s;
  background-color: var(--github);
}
.scroll-ativo .animaTech2 li:nth-child(1)::before {
  animation: animaTech3 1s;
  animation-delay: 3s;
  background-color: var(--react);
}
.scroll-ativo .animaTech2 li:nth-child(2)::before {
  animation: animaTech3 1s;
  animation-delay: 3.2s;
  background-color: var(--vue);
}

@keyframes animaTech3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animaTech1 li,
.animaTech2 li {
  opacity: 0;
}

.scroll-ativo .animaTech1 li:nth-child(1) {
  animation: animaTech2 1s forwards;
  animation-delay: 0.6s;
}
.scroll-ativo .animaTech1 li:nth-child(2) {
  animation: animaTech2 1s forwards;
  animation-delay: 0.8s;
}
.scroll-ativo .animaTech1 li:nth-child(3) {
  animation: animaTech2 1s forwards;
  animation-delay: 1s;
}
.scroll-ativo .animaTech1 li:nth-child(4) {
  animation: animaTech2 1s forwards;
  animation-delay: 1.2s;
}
.scroll-ativo .animaTech1 li:nth-child(5) {
  animation: animaTech2 1s forwards;
  animation-delay: 1.4s;
}
.scroll-ativo .animaTech2 li:nth-child(1) {
  animation: animaTech2 1s forwards;
  animation-delay: 1.6s;
}
.scroll-ativo .animaTech2 li:nth-child(2) {
  animation: animaTech2 1s forwards;
  animation-delay: 1.8s;
}
@keyframes animaTech2 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0.3;
    top: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 1280px) {
  .titulo-conhecimentos {
    font-size: 5rem;
  }

  .texto-conhecimentos {
    font-size: 2rem;
  }

  .techs {
    gap: 64px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  #conhecimentos {
    margin-bottom: 128px;
  }

  .titulo-conhecimentos {
    font-size: 2rem;
  }

  .texto-conhecimentos {
    font-size: 1rem;
    margin-bottom: 64px;
  }
  .estudado {
    margin-bottom: 64px;
  }
  .titulo2 {
    font-size: 2rem;
  }

  .techs {
    gap: 32px;
    align-items: center;
    justify-content: center;
  }

  .tech {
    font-size: 20vw;
  }

  .tech-nome {
    font-size: 1rem;
    padding: 5px 10px;
  }
}
