.contato-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 64px;
  justify-content: space-between;
}

.contato-container label {
  color: #777777;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.titulo-contato h2 {
  color: #777777;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 16px;
  letter-spacing: 0.1em;
}

.titulo-contato h3 {
  text-transform: uppercase;
  font-size: 5vw;
  line-height: 85%;
  font-weight: 500;
  margin-bottom: 128px;
}

.formulario {
  margin-bottom: 128px;
}

.contato-container input,
textarea {
  width: 100%;
  padding: 16px;
  font-size: 1.5rem;
  margin-bottom: 32px;
  border: 1px solid transparent;
  background-color: var(--input);
  box-sizing: border-box;
  letter-spacing: 0.05em;
  color: var(--txt);
}

.contato-container input:hover,
textarea:hover {
  border: 1px solid var(--c1);
}

.contato-container button {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--c1);
  color: var(--btn);
  font-weight: 500;
  letter-spacing: 0.1em;
  transition: 0.3s;
}

.contato-container button:hover {
  cursor: pointer;
  background-color: var(--c2);
}

.midias-sociais {
  display: flex;
  gap: 64px;
  align-items: end;
  justify-content: center;
}

.icone li {
  position: relative;
}

.icone {
  width: 7rem;
  height: max-content;
  transition: 0.3s;
}

:root {
  --linkedin: #00669977;
  --email: #ec413477;
  --whats: #1ad03f77;
}

.icone:hover {
  --linkedin: #006699;
  --email: #ec4134;
  --whats: #1ad03f;
}

.midias-sociais li {
  position: relative;
}

.midias-sociais li:hover::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 15px;
  border-radius: 50%;
  bottom: -20%;
  transform: perspective(1em) rotateX(45deg);
  filter: blur(6px);
  opacity: 1;
}

.midias-sociais li:nth-child(1):hover::before {
  --linkedin: #006699;
  background-color: var(--linkedin);
}

.midias-sociais li:nth-child(2):hover::before {
  --email: #ec4134;
  background-color: var(--email);
}

.midias-sociais li:nth-child(3):hover::before {
  --whats: #1ad03f;
  background-color: var(--whats);
}
.formulario.envio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-form {
  color: var(--txt);
  font-size: 3rem;
  font-weight: 500;
  padding: 0 32px;
}

@media (max-width: 1280px) {
  .contato-container {
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .contato-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .titulo-contato h2 {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  .titulo-contato h3 {
    font-size: 10vw;
    margin-bottom: 32px;
  }
  .icone {
    width: 3rem;
  }
  .texto-form {
    font-size: 2rem;
  }
  .midias-sociais li:hover::before {
    bottom: -30%;
  }
}
