@font-face {
  font-family: clash;
  src: url(../font/ClashDisplay-Variable.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "clash";
}

body {
  background-color: var(--bg);
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.titulo {
  color: var(--txt);
  font-size: 10rem;
  font-weight: 400;
  text-transform: uppercase;
}

.texto {
  color: var(--txt2);
  font-size: 3rem;
  margin-bottom: 128px;
}

footer {
  padding: 16px 32px;
  color: var(--txt);
}

.tooltip {
  position: absolute;
  z-index: 1000;
  color: var(--txt);
  background-color: var(--bg2);
  padding: 1em 2em;
  border-radius: 5px;
  max-width: max-content;
  border: 2px solid var(--c1);
}

@media (max-width: 1600px) {
  .container {
    padding: 0 16px;
  }
}

[data-scroll-animado] {
  opacity: 0;
  transition: 1s;
  transform: translateY(100px);
}

[data-scroll-animado].scroll-ativo {
  opacity: 1;
  transition: 2s;
  transform: translateY(0);
}

/* ========================================== TEMAS */

.themes {
  position: fixed;
  left: 32px;
  bottom: 32px;
  background-color: var(--bg2);
  border: 2px solid var(--c1);
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.themes-title {
  color: var(--txt);
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
}

.pointer {
  cursor: pointer;
  padding: 16px;
}

.paint {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block;
  background: conic-gradient(
    #f41209,
    #f48e34,
    #f4f400,
    #68cb3b,
    #18d2ea,
    #0066cc,
    #983598,
    #f41209
  );
  border-radius: 50%;
}

.themes-colors {
  display: flex;
  gap: 24px;
  flex-direction: column;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  animation: animaThemeColorsExit 2s forwards;
}

.themes.open .themes-colors {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 24px;

  opacity: 1;
  max-height: 1000px;
  overflow: hidden;
  animation: animaThemeColorsEntry 2s forwards;
}

@keyframes animaThemeColorsEntry {
  0% {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }

  100% {
    opacity: 1;
    max-height: 1000px;
    overflow: hidden;
  }
}

@keyframes animaThemeColorsExit {
  0% {
    opacity: 1;
    max-height: 1000px;
    overflow: hidden;
  }

  100% {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }
}

.theme-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--txt);
}

.theme-color:hover {
  background-color: var(--themeHover);
}

.icon-theme {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dark-purple {
  background: linear-gradient(to right, #4d4d4d 50%, #5c43d2 50%);
}

.light-purple {
  background: linear-gradient(to right, #b3b3b3 50%, #5c43d2 50%);
}

.dark-pink {
  background: linear-gradient(to right, #4d4d4d 50%, #fc0fc0 50%);
}

.light-pink {
  background: linear-gradient(to right, #b3b3b3 50%, #fc0fc0 50%);
}

.dark-red {
  background: linear-gradient(to right, #4d4d4d 50%, #ff0000 50%);
}

.light-red {
  background: linear-gradient(to right, #b3b3b3 50%, #ff0000 50%);
}

.dark-green {
  background: linear-gradient(to right, #4d4d4d 50%, #03f03f 50%);
}

.light-green {
  background: linear-gradient(to right, #b3b3b3 50%, #03f03f 50%);
}

@media (max-width: 1280px) {
  .titulo {
    font-size: 7rem;
  }

  .texto {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .titulo {
    font-size: 3rem;
  }

  .texto {
    font-size: 1rem;
    margin-bottom: 64px;
  }
  .tooltip {
    padding: 0.5em 1em;
  }

  .themes {
    left: 16px;
    bottom: 16px;
  }

  .themes-title {
    font-size: 0.725rem;
  }

  .pointer {
    padding: 8px;
  }

  .paint {
    max-width: 32px;
    max-height: 32px;
  }

  .themes-colors {
    gap: 0px;
  }

  .themes.open .themes-colors {
    gap: 0px;
  }

  .theme-color {
    padding: 16px 8px;
    font-size: 0.725rem;
    gap: 8px;
  }

  .icon-theme {
    max-width: 32px;
    max-height: 32px;
  }
}
