.marca-intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linha {
  -webkit-text-stroke: 1px var(--txt);
  color: transparent;
}

.cheio {
  color: var(--txt);
}

.nome-intro h2 {
  color: var(--txt);
  font-family: "clash";
  font-weight: 400;
  font-size: 4vw;
  animation: animaSub 1s forwards;
  animation-delay: 3s;
  opacity: 0;
  text-align: center;
}

@keyframes animaSub {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.font {
  font-family: "clash";
  font-weight: 500;
  font-size: 14.5vw;
  opacity: 0;
  animation: animaIntro 1s forwards;
}

.font:nth-child(1) {
  animation-delay: 0.4s;
}
.font:nth-child(2) {
  animation-delay: 0.6s;
}
.font:nth-child(3) {
  animation-delay: 0.8s;
}
.font:nth-child(4) {
  animation-delay: 1s;
}
.font:nth-child(5) {
  animation-delay: 1.2s;
}
.font:nth-child(6) {
  animation-delay: 1.4s;
}
.font:nth-child(7) {
  animation-delay: 1.6s;
}
.font:nth-child(8) {
  animation-delay: 1.8s;
}
.font:nth-child(9) {
  animation-delay: 2s;
}

@keyframes animaIntro {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  90% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
