.marca-intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nome-intro {
  text-align: center;
  height: max-content;
}

.nome-intro h2 {
  color: #aaaaaa;
  font-family: "clash";
  font-weight: 400;
  font-size: 4vw;
  animation: animaSub 5s forwards;
  animation-delay: 2.2s;
  opacity: 0;
}

@keyframes animaSub {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.font {
  font-family: "clash";
  font-weight: 500;
  font-size: 14.5vw;
  color: #aaaaaa;
  opacity: 0;
}

.linha {
  -webkit-text-stroke: 1px #aaaaaa;
  color: transparent;
}

.font:nth-child(1) {
  animation: animaIntro 1s forwards;
  animation-delay: 0.4s;
}
.font:nth-child(2) {
  animation: animaIntro 1s forwards;
  animation-delay: 0.6s;
}
.font:nth-child(3) {
  animation: animaIntro 1s forwards;
  animation-delay: 0.8s;
}
.font:nth-child(4) {
  animation: animaIntro 1s forwards;
  animation-delay: 1s;
}
.font:nth-child(5) {
  animation: animaIntro 1s forwards;
  animation-delay: 1.2s;
}
.font:nth-child(6) {
  animation: animaIntro 1s forwards;
  animation-delay: 1.4s;
}
.font:nth-child(7) {
  animation: animaIntro 1s forwards;
  animation-delay: 1.6s;
}
.font:nth-child(8) {
  animation: animaIntro 1s forwards;
  animation-delay: 1.8s;
}
.font:nth-child(9) {
  animation: animaIntro 1s forwards;
  animation-delay: 2s;
}

@keyframes animaIntro {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 0.5;
    top: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

#sobre {
  margin-bottom: 256px;
}

.titulo-sobre {
  color: #aaaaaa;
  font-size: 10rem;
  font-weight: 400;
  text-transform: uppercase;
}

.texto-sobre {
  color: #aaaaaa;
  font-size: 3rem;
  margin-bottom: 128px;
}

.img-sobre {
  position: relative;
  margin-bottom: 128px;
}

.img-sobre img {
  box-shadow: 0px 0px 150px #000000;
}

.nome-foto {
  color: #aaaaaa;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.nome-foto span {
  display: block;
}

.nome {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
}

.profissao {
  letter-spacing: 0.05em;
}

.titulo-conhecimentos {
  color: #aaaaaa;
  font-size: 7rem;
  font-weight: 400;
  text-transform: uppercase;
}

.texto-conhecimentos {
  color: #aaaaaa;
  font-size: 3rem;
  margin-bottom: 128px;
}

.estudado {
  margin-bottom: 128px;
}

.estudado-titulo {
  font-size: 4rem;
  color: #aaaaaa;
  font-weight: 400;
  margin-bottom: 32px;
}

.techs {
  display: flex;
  gap: 128px;
  flex-wrap: wrap;
}

.techs li {
  max-width: 150px;
  position: relative;
}

.techs img {
  object-fit: contain;
  position: relative;
}

.animaTech1 li::before,
.animaTech2 li::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 15px;
  border-radius: 50%;
  background-color: #442eae;
  bottom: -10%;
  transform: perspective(1em) rotateX(45deg);
  filter: blur(6px);
  opacity: 0;
}

.techs li:hover::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 15px;
  border-radius: 50%;
  background-color: #442eae;
  bottom: -10%;
  transform: perspective(1em) rotateX(45deg);
  filter: blur(6px);
  opacity: 1;
}

.scroll-ativo .animaTech1 li:nth-child(1)::before {
  animation: animaTech3 1s;
  animation-delay: 2s;
}
.scroll-ativo .animaTech1 li:nth-child(2)::before {
  animation: animaTech3 1s;
  animation-delay: 2.2s;
}
.scroll-ativo .animaTech1 li:nth-child(3)::before {
  animation: animaTech3 1s;
  animation-delay: 2.4s;
}
.scroll-ativo .animaTech1 li:nth-child(4)::before {
  animation: animaTech3 1s;
  animation-delay: 2.6s;
}
.scroll-ativo .animaTech1 li:nth-child(5)::before {
  animation: animaTech3 1s;
  animation-delay: 2.8s;
}
.scroll-ativo .animaTech2 li:nth-child(1)::before {
  animation: animaTech3 1s;
  animation-delay: 3s;
}
.scroll-ativo .animaTech2 li:nth-child(2)::before {
  animation: animaTech3 1s;
  animation-delay: 3.2s;
}

@keyframes animaTech3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animaTech1 li,
.animaTech2 li {
  opacity: 0;
}

.scroll-ativo .animaTech1 li:nth-child(1) {
  animation: animaTech2 1s forwards;
  animation-delay: 0.6s;
}
.scroll-ativo .animaTech1 li:nth-child(2) {
  animation: animaTech2 1s forwards;
  animation-delay: 0.8s;
}
.scroll-ativo .animaTech1 li:nth-child(3) {
  animation: animaTech2 1s forwards;
  animation-delay: 1s;
}
.scroll-ativo .animaTech1 li:nth-child(4) {
  animation: animaTech2 1s forwards;
  animation-delay: 1.2s;
}
.scroll-ativo .animaTech1 li:nth-child(5) {
  animation: animaTech2 1s forwards;
  animation-delay: 1.4s;
}
.scroll-ativo .animaTech2 li:nth-child(1) {
  animation: animaTech2 1s forwards;
  animation-delay: 1.6s;
}
.scroll-ativo .animaTech2 li:nth-child(2) {
  animation: animaTech2 1s forwards;
  animation-delay: 1.8s;
}

@keyframes animaTech2 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0.3;
    top: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 1280px) {
  .titulo-sobre {
    font-size: 7rem;
  }

  .texto-sobre {
    font-size: 2rem;
  }

  .titulo-conhecimentos {
    font-size: 5rem;
  }

  .texto-conhecimentos {
    font-size: 2rem;
  }

  .techs {
    gap: 64px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .titulo-sobre {
    font-size: 3rem;
  }

  .texto-sobre {
    font-size: 1rem;
    margin-bottom: 64px;
  }

  .img-sobre {
    margin-bottom: 64px;
  }

  .nome {
    font-size: 0.8rem;
    margin-bottom: 0px;
  }

  .profissao {
    letter-spacing: 0.05em;
    font-size: 0.5rem;
  }

  .titulo-conhecimentos {
    font-size: 2rem;
  }

  .texto-conhecimentos {
    font-size: 1rem;
    margin-bottom: 64px;
  }
  .estudado {
    margin-bottom: 64px;
  }
  .estudado-titulo {
    font-size: 2rem;
  }

  .techs {
    gap: 64px;
    align-items: center;
    justify-content: center;
  }

  .techs li {
    max-width: 80px;
  }
}

.js-scroll {
  opacity: 0;
  transition: 1s;
  transform: translateY(100px);
}

.js-scroll.scroll-ativo {
  opacity: 1;
  transition: 2s;
  transform: translateY(0);
}
