.menu-bar {
  padding: 20px 40px;
  border-bottom: 1px solid #aaaaaa;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--bg);
  position: fixed;
  z-index: 5 !important;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.logo svg {
  width: 100%;
  height: 100%;
}

.menu-itens {
  display: flex;
  gap: 16px;
}

.menu-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.menu-lista a,
.btn-contato {
  padding: 0 16px;
  display: block;
  color: var(--txt);
  text-decoration: none;
  font-family: "clash";
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.menu-lista .item::after {
  content: "";
  display: block;
  background-color: var(--txt);
  height: 1px;
  width: 0%;
  transition: linear 0.3s;
}

.menu-lista .item:hover::after,
.menu-lista .item:focus::after {
  width: 100%;
}

.btn-contato {
  background-color: var(--c1);
  padding: 10px 20px !important;
  border-radius: 5px;
  max-width: max-content;
}

.btn-contato:hover,
.btn-contato:focus {
  background-color: var(--c1);
}

@media (max-width: 768px) {
  .logo {
    width: 100px;
  }

  .menu-bar {
    gap: 0;
    padding: 16px;
  }

  .abrir-menu .menu-bar {
    border: none;
    box-sizing: border-box;
  }

  .menu-lista li {
    width: 100%;
  }
  .menu-lista .item {
    text-align: left;
    border-bottom: 1px solid var(--txt);
    padding: 16px 0;
  }

  .menu-lista .item:hover::after,
  .menu-lista .item:focus::after {
    width: 0%;
  }

  .btn-contato {
    margin-top: 32px;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    cursor: pointer;
    transition: 0.3s;
  }
  .l1 {
    height: 1px;
    width: 30px;
    background-color: var(--txt);
    transition: 0.5s;
  }

  .l2 {
    height: 1px;
    width: 25px;
    background-color: var(--txt);
    transition: 0.5s;
  }
  .l3 {
    height: 1px;
    width: 30px;
    background-color: var(--txt);
    transition: 0.5s;
  }

  .abrir-menu .l1 {
    transform: rotatez(135deg);
    position: absolute;
    top: 50%;
  }
  .abrir-menu .l2 {
    opacity: 0;
  }
  .abrir-menu .l3 {
    transform: rotatez(-135deg);
    position: absolute;
    top: 50%;
  }

  .menu-lista {
    display: none;
  }
  .abrir-menu .menu-lista {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: var(--bg);
    padding: 16px;
    align-items: start;
    gap: 0;
    border-bottom: 1px solid var(--txt);
    animation: animaMenu 0.5s forwards;
    z-index: 1 !important;
    box-sizing: border-box;
  }

  @keyframes animaMenu {
    from {
      top: -100%;
      max-height: 0;
      opacity: 0;
    }

    to {
      top: 40px;
      max-height: 6000px;
      opacity: 1;
    }
  }
}
