#projetos {
  margin-bottom: 256px;
}

.slide-wrapper {
  overflow: hidden;
  height: max-content;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 16px;
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
  height: max-content;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.tech-projeto img {
  max-width: 40px;
  position: relative;
}

.link-externo {
  display: block;
  opacity: 1;
  transition: 0.5s;
  margin: 16px auto 0 auto;
}

.link-externo {
  background-color: var(--c1);
  padding: 10px 20px !important;
  border-radius: 5px;
  max-width: max-content;
  color: var(--btn);
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  margin: 16px auto 0 auto;
}

.active .link-externo {
  display: block;
  opacity: 1;
  transition: 0.3s;
  margin: 16px auto 0 auto;
}

.link-externo:hover,
.link-externo:focus {
  background-color: var(--c2);
  margin: 16px auto 0 auto;
}

@media (max-width: 768px) {
  #projetos {
    margin-bottom: 128px;
  }

  .slide li {
    width: 70vw;
    max-width: 800px;
    margin: 0 10px;
  }
  .active .link-externo {
    font-size: 0.8rem;
  }
}
