#projetos {
  margin-bottom: 256px;
}
.grid-projetos {
  display: flex;

  gap: 16px;
  margin-bottom: 32px;
}
.img-projeto {
  transition: 0.5s;
  display: block;
}

.img-ativa {
  flex-flow: 2;
}

@media (max-width: 768px) {
  #projetos {
    margin-bottom: 128px;
  }
}
