#sobre {
  margin-bottom: 256px;
}

.img-sobre {
  position: relative;
  margin-bottom: 128px;
}

.img-sobre-wrapper {
  display: flex;
  overflow: hidden;
  gap: 32px;
}

.img-instagram {
  height: 600px;
  width: 600px;
  flex-shrink: 0;
}

@media (max-width: 1280px) {
  .titulo {
    font-size: 7rem;
  }

  .texto {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  #sobre {
    margin-bottom: 128px;
  }

  .titulo {
    font-size: 3rem;
  }

  .texto {
    font-size: 1rem;
    margin-bottom: 64px;
  }
}
