#sobre {
  margin-bottom: 256px;
}

.img-sobre-wrapper {
  margin-bottom: 128px;
  overflow: hidden;
}

.img-sobre {
  display: flex;
  gap: 32px;
}

.img-instagram {
  width: 40vw;
  max-width: 600px;
  flex-shrink: 0;

  opacity: 0.5;
  transform: scale(0.8);
  transition: 0.5s;
}

.img-instagram.img-active {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 768px) {
  #sobre {
    margin-bottom: 128px;
  }
}
