#sobre {
  margin-bottom: 256px;
}

.img-sobre {
  position: relative;
  margin-bottom: 128px;
}

.img-sobre-wrapper {
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.img-instagram {
  height: 100%;
  max-width: 33.3%;
}
.nome-foto {
  color: var(--txt);
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.nome-foto span {
  display: block;
}

.nome {
  color: var(--bg);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
}

.profissao {
  color: var(--bg);
  letter-spacing: 0.05em;
}

@media (max-width: 1280px) {
  .titulo {
    font-size: 7rem;
  }

  .texto {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  #sobre {
    margin-bottom: 128px;
  }

  .titulo {
    font-size: 3rem;
  }

  .texto {
    font-size: 1rem;
    margin-bottom: 64px;
  }

  .img-sobre {
    margin-bottom: 64px;
  }

  .nome {
    font-size: 0.8rem;
    margin-bottom: 0px;
  }

  .profissao {
    letter-spacing: 0.05em;
    font-size: 0.5rem;
  }
}
